* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #555;
  color: #fff;
  padding: 7px 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #666;
}